version: "3.8"

services:
  fastapi_server:
    build:
      context: /home/cc/MLOps_Project/model_serve/fastapi_pt
      dockerfile: Dockerfile
    container_name: fastapi_server
    ports:
      - "8000:8000"
    volumes:
      - /mnt/object:/mnt/object:ro

  jupyter:
    image: quay.io/jupyter/minimal-notebook:latest
    container_name: jupyter
    ports:
      - "8888:8888"
    volumes:
      - /home/cc/serve-system-chi/workspace:/home/jovyan/work
      - /mnt/object:/mnt/object:ro    # â† now notebooks can also see your object storage
      - ./model_serve:/home/jovyan/model_serve:ro
    command: >
      bash -c "python3 -m pip install numpy && start-notebook.sh"

